.selectorCardContent {
  padding: 16px;
}

.selectorTitle {
  margin-bottom: 12px;
}

.chatCardContent {
  padding: 24px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .chatCardContent {
    height: 560px;
  }
}
